rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write access to documents only for authenticated users
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
